﻿@{
    ViewBag.Title = "Dane do logowania";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<h3>User:</h3>
<h4>login: user@weather.pl</h4>
<h4>password: User!123</h4>
<br />
<br />
<h3>Administrator:</h3>
<h4>login: administrator@weather.pl</h4>
<h4>password: Admin!123</h4>
