﻿@{
    ViewBag.Title = "Dni";
}
<h2>@ViewBag.Title</h2>

@if (User.IsInRole("Administrator"))
{
    <script>
        var userAuthorized = true;
    </script>
}
else
{
    <script>
        var userAuthorized = false;
    </script>
}

<table id="days" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Data</th>
            <th>Typ</th>
            <th>Stopnie</th>
            <th>Edytuj</th>
            <th>Usun</th>
            
                              
        </tr>
    </thead>
    <tbody></tbody>
</table>






@section scripts
{
<script type="text/javascript" src="~/Scripts/moment.js"></script>

    <script>
        $(document).ready(function () {

           // console.log(userAuthorized);

            var table = $("#days").DataTable({
                ajax: {
                    url: "/api/weathers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Date",
                        render: function (data) {
                            return moment(new Date(data)).format('DD MMMM YYYY');
                        }
                    },
                    {
                        data: "Type.Name"
                    },
                    {
                        data: "Degree"
                    },                      
                    {
                        data: "ID",
                        render: function (data) {
                          //  return "<a href='/Home/Edit/" + data + "'>Edytuj</a>";
                            return "<button class='btn-link js-edit' data-weather-id=" + data + ">Edytuj</button>";
                        }
                    },
                    {
                        data: "ID",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-weather-id=" + data + ">Usun</button>";
                        }
                    }
                ]
            });
            $("#days").on("click", ".js-edit", function () {
                if (userAuthorized) {
                    var button = $(this); 
                    window.location.href = "/Home/Edit/" + button.attr("data-weather-id");
                }
                else {
                    bootbox.alert("Brak dostepu!");
                }

            });

            $("#days").on("click", ".js-delete", function () {
                var button = $(this);

                if (userAuthorized) {
                    bootbox.confirm("Czy na pewno chcesz usunac dzien?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/weathers/" + button.attr("data-weather-id"),
                                method: "DELETE",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
                }
                else {
                    bootbox.alert("Brak dostepu!");
                }
                
            });
        });

    </script>
}