﻿
@{
	ViewBag.Title = "Edit";
}

<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

<h2>Edit </h2>

@using (Html.BeginForm("Form", "Home"))
{
    <div class="form-group">
        <label for="data">Data</label>
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-calendar">
                </i>
            </div>
            <input class="form-control" id="data" name="date" placeholder="DD MMMM YYYY" type="text" />
        </div>

    </div>
	<div class="form-group">
		<label for="typ">Typ</label>
		<select id="typ_dropdownlist" class="form-control">
			<option value="empty"></option>
		</select>
	</div>
  
	<div class="form-group">
		<label for="stopnie">Stopnie</label>
		<input type="text" class="form-control" id="stopnie">
	</div>
	<div class="form-group">
	   
		<button type="button" class="btn btn-default" id="zapisz">Zapisz</button>
	</div>
}



		@section scripts
{
			<script type="text/javascript" src="~/Scripts/jquery-3.0.0.js"></script>
			<script type="text/javascript" src="~/Scripts/bootstrap-datepicker.js"></script>
            <script type="text/javascript" src="~/Scripts/moment.js"></script>

		<script>

            $(document).ready(function () {

		    var date_input=$('input[name="date"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";

            date_input.datepicker({
                format: 'dd MM yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
                orientation: "right",
            });

            var map_types = []; 
            
             
			$.ajax({
				url: "/api/types/",
				method: "GET",
				dataType: 'json',
				success: function (data) {
					$.each(data, function (i, order) {
						var dropDownList = document.getElementById("typ_dropdownlist");
						var types_name = document.createElement("option");
						types_name.text = order.Name;
						dropDownList.add(types_name, dropDownList[i]);
						map_types[order.Name] = order.ID;
					});
				},
			});

			$.ajax({
				url: "/api/weathers/" + @ViewBag.Id,
					method: "GET",
					dataType: 'json',
                    success: function (data) { 
                        $("#data").val(moment(data.Date).format('DD MMMM YYYY')); 
						$("#stopnie").val(data.Degree);
						$("#typ_dropdownlist").val(data.Type.Name).change();
					},
					error: function (data) {
						bootbox.alert("Blad!");
					},
			});

			$("#zapisz").click(function () {
				var obj = new Object();
				obj.Type = new Object();
				obj.Type.ID = parseInt(map_types[$("#typ_dropdownlist").val()]);
				obj.Type.Name = $("#typ_dropdownlist").val();
				obj.ID = parseInt(@ViewBag.Id);
				obj.Date = moment(new Date($("#data").val())).format();
				obj.Degree = parseFloat($("#stopnie").val());
				obj.TypeID = parseInt(obj.Type.ID);


				var jsonString = JSON.stringify(obj);
				 console.log(jsonString);

				 $.ajax({
					url: "/api/weathers/" + @ViewBag.Id,
					data: jsonString,
					method: "PUT",
					contentType:"application/json",
					success: function (data) {
						bootbox.alert("Pomyslnie zaktualizowano dzien!");
					},
					error: function (data) {
						bootbox.alert("Blad!");
					},
				 });


			 });

		});

			</script>


		}
