﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Weather app</h1>
    <p class="lead">Dane do logowania w zakladce 'Informacje'</p>
    <p><a href="/Home/Days" class="btn btn-primary btn-lg">Zobacz pogode &raquo;</a></p>
</div>
